# Ignore all node_modules
node_modules/*

# ...except the symlink to ourselves.
!node_modules/APP

# Compiled JS
public/bundle.js
public/bundle.js.map

# NPM errors
npm-debug.log

# chrome extensions
chromeExtension/bundle.js
chromeExtension/bundle.js.map
chromeExtension/node_modules/*

#ignore sass caches
.sass-cache/*

# don't upload config
config.js
watson-config.js

# css
public/css/bulma.css.map